<a href="http://www.asuspromotion.net/anz/router-promo/">
    <img src="http://www.extremepc.co.nz/image/catalog/extremepc%20slider/asusPro.jpg">
</a>
<p><br></p>
<header class="product-head row">
    <div class="span6 v-center" id="product-main-image">
        <hgroup><h1 class="product-slogan">Dual-band wireless-AC3100 gigabit router</h1>
            <div class="product-intro">
                <ul>
                    <li>Ultra-fast 802.11ac Wi-Fi router with a combined dual-band data rate of 3167 Mbps for low
                        latency online gaming,smooth 4K streaming and extremely fast file-sharing
                    </li>
                    <li>Broadcom® NitroQAM<sup><font size="2">TM</font></sup>technology boosts 5 GHz data rates up to
                        2167 Mbps and 2.4 GHz up to 1000 Mbps
                    </li>
                    <li>4x4 antenna design with AiRadar universal beamforming for unbeatable wireless signal coverage
                    </li>
                    <li>1.4 GHz dual-core processor improves USB and WAN/LAN speed</li>
                    <li>Link aggregation supports close to 2 Gbps wired transmissio
                        n for more devices to enjoy faster access speed
                    </li>
                    <li>Multiple capacity Wi-Fi with revolutionary MU-MIMO technology</li>
                    <li>AiProtection for total security and privacy</li>
                    <li>8 Gigabit LAN ports for 2x the number of wired ports typically provided</li>
                    <li>Parental Controls let you manage your family’s web activity and ensure a safe environment for
                        younger users
                    </li>
                </ul>
            </div><!--<div class="small-star"><img src="/images/small-star.jpg"></div>-->
            <div class="color-select"></div>
            <label class="checkbox add-to-list">
                <input class="add-compare-check" type="checkbox" alt="e5rP2N02bDRfXJUO" value="Add to comparison list"
                       data-modelname="RT-AC88U"
                       data-imgsrc="/media/global/products/e5rP2N02bDRfXJUO/P_setting_x_0_90_end_100.png"
                       product-group="10">Add to comparison list
            </label>
            <!--other logo-->
            <div id="product-quick-award">
                <ul class="unstyled">
                    <li><img src="https://www.asus.com/images/award_logo/default.jpg"></li>
                    <li><img src="https://www.asus.com/images/award_logo/1225/12451.png"></li>
                    <li><img src="https://www.asus.com/images/award_logo/1225/6538.png"></li>
                    <li><img src="https://www.asus.com/images/award_logo/1225/12309.png"></li>
                    <li><img src="https://www.asus.com/images/award_logo/1225/9896.jpg">
                        <img alt=""
                             src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/loading.gif"
                             style="line-height: 1.42857;">
                    </li>
                </ul>
            </div>
        </hgroup>
    </div>
</header>
<div class="overview-wrapper">
    <section id="special-sectionOverview" >
        <span id="ctl00_ContentPlaceHolder1_ctl00_ctl00_span_overview">
            <div id="test-Width-100-precent">
                <div id="precent-cont">
                    <div id="overview-aside-nav">
                        <ul>
                            <li class="nav_li_05">
                                <div></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wrap">
                    <div class="stage-1">
                        <div class="stage-box">
                            <div class="slide-prod-box">
                                <div class="m-slide-prod"><img alt=""
                                                               src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/prod_img/Ac88u-360_00000.jpg">
                                </div>
                                <div class="slide-bar" id="slide_container">
                                    <div class="btn-slide-bar" id="slide_bar"></div>
                                </div>
                                <div class="slide-prod-txt"> Move your mouse to view 360° rotate</div>
                            </div>
                            <div class="stage-txt"> RT-AC88U instantly takes your wireless network to the next level.
                                The latest NitroQAM™ technology boosts the Wi-Fi speeds for everyone and everything on
                                your busy network. With the widest-ever Wi-Fi coverage, lightning-fast USB and WAN/LAN
                                speed plus total security and 8 Gigabit LAN ports, the RT-AC88U is as well-rounded as it
                                is top-of-the-line.
                            </div>
                            <div class="btns btn-watch-video" id="openVideo">Watch the video</div>
                            <div class="stage-menu">
                                <ul>
                                    <li><a id="stage2">Ultimate Gaming and 4K Streaming</a></li>
                                    <li><a id="stage3">Everywhere Entertainment in Your Smart Home</a></li>
                                    <li><a id="stage4">AiProtection, Your Digital Playground is Safe</a></li>
                                    <li><a id="stage5">Your Digital Home Hub and Network Center</a></li>
                                    <li><a id="stage6">ASUSWRT, Easily Control Your Network</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="stage-3" id="stage2Map">
                        <div class="stage-tit">Ultimate Gaming and 4K Streaming</div>
                        <div class="prod-group-3">
                            <div class="prod-3-txt">
                                <div class="sub-tit">NitroQAM™ Technology - Seamless Experience</div>
                                <div class="cont-txt2"> Whether you're gaming online in a heated competition or
                                    streaming a live event in 4K UHD, lag and buffering are simply not an option.
                                    NitroQAM™ (1024-QAM) technology on the RT-AC88U delivers a combined 3167 Mbps Wi-Fi
                                    speed, ensuring everyone on your network can enjoy smooth streaming and low-latency
                                    online gaming.
                                </div>
                                <div class="stage-3-img"><img alt=""
                                                              src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_img_6.png">
                                </div>
                                <div class="m-stage-3-img"><img alt=""
                                                                src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_3_img_6.png">
                                </div>
                            </div>
                            <img alt=""
                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_img.png">
                        </div>
                        <div class="prod-group-boost-box">
                            <div class="sub-tit">DOUBLE GAMING BOOST</div>
                            <div class="cont-txt2"> Enjoy low-latency online gaming <br> with boosted internet and home
                                network performance!
                            </div>
                            <div class="boost-img">
                                <div class="boost-award"><img alt=""
                                                              src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_award.png">
                                </div>
                                <img alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_img_8.png">
                            </div>
                            <div class="m-boost-img">
                                <div class="boost-award"><img alt=""
                                                              src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_award.png">
                                </div>
                                <img alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_3_img_8.png">
                            </div>
                        </div>
                        <div class="prod-group-3-left">
                            <div class="prod-3-txt-right">
                                <div class="sub-tit">Free Game Accelerator Inside</div>
                                <div class="cont-txt2"> Ping time and variance are critical technical parameters that
                                    affect responsiveness in online gaming, and their values depend heavily on the route
                                    game packets take to and from their destination. The Gamers Private Network<span
                                            class="small">®</span> (GPN<span class="small">®</span>) from WTFast<span
                                            class="small">®</span> automatically performs route optimization, choosing
                                    the most efficient route for game packets, resulting in consistently-lower ping time
                                    and minimal packet loss. With RT-AC88U this optimization is free for accelerating
                                    one selectable device at a time, so you can enjoy the results on supported
                                    competitive multi-player online games<span class="small">1</span>. Check out
                                    supported games list and more information about WTFast router edition <a
                                            href="https://www.wtfast.com/pages/asus_router/" target="_blank">here</a>.
                                </div>
                                <ul class="stage-3-list">
                                    <li>
                                        <div class="list-tit">Avg. ping time</div>
                                        <div class="list-num"> 30%-60%</div>
                                    </li>
                                    <li>
                                        <div class="list-tit">Avg. ping variation</div>
                                        <div class="list-num"> 70%-90%</div>
                                    </li>
                                    <li>
                                        <div class="list-tit">Avg. packet loss</div>
                                        <div class="list-num"> 70%-90%</div>
                                    </li>
                                </ul>
                                <div class="btns btn-see-how m-hide" id="openHowVideo"> See how WTFast<span
                                        class="small">®</span> works
                                </div>
                            </div>
                            <div class="prod-map-ani">
                                <div class="prod-map-txt map-txt-1" style="opacity: 0;">Congested traffic slows down
                                    data speed and gameplay
                                </div>
                                <div class="prod-map-txt map-txt-2" style="opacity: 1;">Optimize Internet connection and
                                    speed in online games<img class="map-2" alt=""
                                                              src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_1_after.png"
                                                              style="line-height: 1.42857; opacity: 1;"></div>
                            </div>
                            <div class="btns btn-see-how m-show" id="openHowVideo2"> See how WTFast<span
                                    class="small">®</span> works
                            </div>
                        </div>
                        <div class="prod-group-mid">
                            <div class="sub-tit">Cross-Platform Compatibility</div>
                            <div class="mid-cont"> Network speed impacts every device you game with on every platform
                                you game on. The ASUS RT-AC88U delivers bandwidth and coverage for all your gaming
                                devices, from consoles to PCs to mobile devices<span class="small">*</span>, and
                                supports every operating system, including Windows<span class="small">®2</span>, Mac
                                OS<span class="small">®3</span> and Linux<span class="small">®4</span>.
                            </div>
                            <p class="m-cross-txt"><span class="small">*</span>WTFast<span class="small">®</span>
                                solution compatibility will cover supported games on game consoles and mobile devices by
                                the middle of 2016. This schedule is subject to change according to actual situation.
                            </p>
                            <div class="mid-img-1"><img class="drvice-img" alt=""
                                                        src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_3.png">
                                <img class="m-drvice-img" alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_3_3.png">
                                <p class="w-cross-txt"><span class="small">*</span>WTFast<span class="small">®</span>
                                    solution compatibility will cover supported games on game consoles and mobile
                                    devices by the middle of 2016. This schedule is subject to change according to
                                    actual situation. </p></div>
                        </div>
                        <div class="prod-group-mid">
                            <div class="sub-tit">Adaptive QoS – Prioritize Your Game</div>
                            <div class="mid-cont"> Boost your gaming bandwidth with Adaptive QoS (Quality of Service),
                                which allows you to easily prioritize gaming packets and activities. You can even assign
                                full dedicated bandwidth while gaming under gamer solo mode, making RT-AC88U the perfect
                                ally for low latency gaming anywhere in your home.
                            </div>
                            <div class="mid-img-1"><img alt=""
                                                        src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_2.png">
                            </div>
                        </div>
                        <div class="prod-group-hov">
                            <div class="hov-txt">
                                <div class="sub-tit">Free Up PC System 'Resources' During Gameplay</div>
                                <div class="cont-txt2"> Networking is only half the equation when it comes to game
                                    performance. Anti-virus programs and 3rd party applications can consume valuable CPU
                                    and memory that could be reallocated to your game. With AiProtection on the RT-AC88U
                                    you can confidently turn off these utilities while you game, ensuring every
                                    available drop of resource is spent enhancing your game.
                                </div>
                            </div>
                            <img alt=""
                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_img_2.png">
                        </div>
                    </div>
                    <div class="stage-2" id="stage3Map">
                        <div class="stage-tit">Everywhere Entertainment in Your Smart Home</div>
                        <div class="stage-box">
                            <div class="prod-group">
                                <div class="prod-txt">
                                    <div class="sub-tit">Bandwidth for All</div>
                                    <div class="cont-txt"> RT-AC88U is the master of entertaining, able to support as
                                        many devices as people you invite over and can even maintain multiple
                                        simultaneous Full HD 1080P streams. Beyond content consumption, the RT-AC88U
                                        enables a smarter home, supporting IP cameras, thermostats and a variety of
                                        devices you don't even own yet.
                                    </div>
                                </div>
                                <img alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_2_img_1.png">
                            </div>
                            <div class="prod-group2-2">
                                <div class="prod-txt">
                                    <div class="sub-tit">Unbeatable Wi-Fi Coverage</div>
                                    <div class="cont-txt"> With a four-transmit, four-receive (4T4R) antenna design,
                                        both Wi-Fi range and signal stability improve dramatically. AiRadar beamforming
                                        further focuses Wi-Fi signal on your devices, making your Wi-Fi faster, clearer
                                        and stronger.
                                    </div>
                                    <div class="prod-s-box"><img alt=""
                                                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_2_prod_1.png">
                                        <div class="prod-s-box-tit"><span class="rt-tit">RT-AC88U</span> <br> with
                                            AiRadar beamforming
                                        </div>
                                    </div>
                                    <div class="prod-s-box"><img alt=""
                                                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_2_prod_2.png">
                                        <div class="prod-s-box-tit"><span class="rt-tit">Other Routers</span> <br>
                                            without AiRadar beamforming
                                        </div>
                                    </div>
                                </div>
                                <img class="m-stage-2-img-2" alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_2_img_2.png">
                            </div>
                        </div><!-- 1224暫時隱藏 -->
                        <div class="prod-group-hov2 prod-group-hide" style="display: none;">
                            <div class="prod-faster"><img alt=""
                                                          src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/prod_faster.png">
                            </div>
                            <div class="prod-faster-txt">
                                <div class="sub-tit">Airtime Fairness – Streamline Your Wi-Fi</div>
                                <div class="cont-txt2"> Older devices slow down your network, and if connected to a
                                    standard Wi-Fi router, your Wi-Fi connection is limited to the speed of the slowest
                                    device on your network. With Airtime Fairness, your fast devices transmit at the
                                    highest speed. Airtime Fairness technology on the RT-AC5300 improves the speed of
                                    fast devices by up to 65%<span class="small">5</span> in a multi-device household
                                    network by simply adjusting the communication time fairly.
                                </div>
                            </div>
                        </div>
                        <div class="prod-group-hov2 prod-group-show" style="display: none;">
                            <div class="prod-faster-txt">
                                <div class="sub-tit">Airtime Fairness – Streamline Your Wi-Fi</div>
                                <div class="cont-txt2"> Older devices slow down your network, and if connected to a
                                    standard Wi-Fi router, your Wi-Fi connection is limited to the speed of the slowest
                                    device on your network. With Airtime Fairness, your fast devices transmit at the
                                    highest speed. Airtime Fairness technology on the RT-AC5300 improves the speed of
                                    fast devices by up to 65%<span class="small">5</span> in a multi-device household
                                    network by simply adjusting the communication time fairly.
                                </div>
                            </div>
                            <div class="prod-faster"><img alt=""
                                                          src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/prod_faster.png">
                            </div>
                        </div>
                        <div class="prod-group-last">
                            <div class="prod-3-txt-group2">
                                <div class="sub-tit">Powerful Processor, Faster Transfers</div>
                                <div class="cont-txt2"> RT-AC88U's top-of-the-line 1.4 GHz dual-core processor brings
                                    its computational capability to the next level. USB data transfers enjoy up to over
                                    100 MB/s speed and the router download/upload speed (WAN-LAN throughput) up to 1800
                                    Mbps<span class="small">5</span>.
                                </div>
                            </div>
                            <img class="speed-img" alt=""
                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_img_5.png">
                            <img class="m-speed-img" alt=""
                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_3_img_5.jpg">
                        </div>
                        <div class="prod-3-animate">
                            <div class="prod-3-intro">
                                <div class="sub-tit">Multiple Capacity Wi-Fi with Revolutionary <span
                                        style="white-space: nowrap;">MU-MIMO</span> Tenchology
                                </div>
                                <div class="cont-txt2"> MU-MIMO gives every compatible device<span
                                        class="small">6</span> its own dedicated full-speed Wi-Fi connection, so that
                                    multiple devices can connect at the same time without slowing down the network. <br>
                                    In fact, RT-AC88U is able to connect to multiple MU-MIMO-compatible clients at each
                                    device's maximum speed simultaneously, unlike standard single-user MIMO where
                                    individual devices have to wait for sequential transmissions<span
                                            class="small">7</span>.
                                </div>
                                <div class="cont-txt2"></div>
                            </div>
                            <div class="prod-ani">
                                <div class="prod-ani-left">
                                    <div class="single-drvice-1"><img alt=""
                                                                      src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/prod_line_single.png"
                                                                      style="line-height: 1.42857;"><br></div>
                                    <div class="prod-other-txt">Single-user MIMO <br> Serve one device at a time</div>
                                </div>
                                <div class="prod-ani-right">
                                    <div class="multi-drvice-1"><img id="multi_drvice_1" alt=""
                                                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/multi_drvice_1.png">
                                    </div>
                                    <div class="multi-drvice-2"><img id="multi_drvice_2" alt=""
                                                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/multi_drvice_2.png">
                                    </div>
                                    <img class="multi-line" id="device_multi" style="opacity: 0.8714;" alt=""
                                         src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/radio_line.png">
                                    <div class="prod-multi"><img alt=""
                                                                 src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/prod_line_multi.png">
                                    </div>
                                    <div class="prod-multi-txt">Multi-user MIMO <br> Serve multi-device at a time</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stage-4" id="stage4Map">
                        <div class="stage-tit">AiProtection – Your Digital Playground is Safe</div>
                        <div class="stage-box">
                            <div class="stage-4-box">
                                <div class="stage-4-txt">
                                    <div class="stage-4-cont-txt"> ASUS AiProtection powered by Trend Micro™ ensures
                                        your online experience is safe and secure. By combining automatic vulnerability
                                        detection, malicious site blocking and parental controls, AiProtection keeps
                                        everyone safe and sound.
                                    </div>
                                    <div class="stage-4-control">
                                        <div class="control-img"><img alt=""
                                                                      src="http://www.asus.com/AU/Networking/RT-AC88U/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_4_icon.png">
                                        </div>
                                        <div class="control-txt-group">
                                            <div class="control-tit-note">Parental Controls</div>
                                            <div class="img-tit">Monitor and Restrict Internet Activity for Any User
                                            </div>
                                            <div class="img-txt"> Advanced parental controls help you to prevent users
                                                from visiting inappropriate websites, for example keeping young children
                                                safe from viewing adult content. You can also restrict the times that
                                                each device or guest account can access the internet, by applying
                                                scheduled time limits.
                                            </div>
                                        </div>
                                    </div>
                                    <img class="best-choice" alt=""
                                         src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/best_choice.png"><img
                                        class="m-best-choice" alt=""
                                        src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_best_choice.png">
                                    <a class="btns btn-learn" id="learnAbout"
                                       href="http://www.asus.com/ASUSWRT/#AiProtection" target="_blank">Learn more about
                                        ASUS AiProtection</a></div>
                                <img class="stage-3-img-7" alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_3_img_7.jpg">
                                <img class="m-stage-3-img-7" alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_3_img_7.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="stage-5" id="stage5Map">
                        <div class="stage-tit">Your Digital Home Hub and Network Center</div>
                        <div class="stage-box">
                            <div class="prod-5-txt">
                                <div class="sub-tit">Extensive Connectivity Options</div>
                                <div class="prod-5-cont-txt"> RT-AC88U exclusively has eight Gigabit LAN ports – twice
                                    the number most routers provide – for up to eight Ethernet-compatible devices to
                                    connect simultaneously. Smart TVs, game consoles, set top boxes, media players, NAS
                                    storage devices and more can now have their own dedicated ports, making RT-AC88U
                                    your digital home hub.
                                </div>
                            </div>
                            <div class="stage-5-img-1"><img class="device-intro" alt=""
                                                            src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_5_img.png">
                                <img class="m-device-intro" alt=""
                                     src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_5_img.png">
                            </div>
                            <div class="stage-5-group">
                                <div class="stage-5-img-2"><img alt=""
                                                                src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_5_img_2.png">
                                </div>
                                <div class="stage-5-txt-2">
                                    <div class="sub-tit">Your Sharing Center</div>
                                    <div class="cont-txt2"> With built-in USB 3.0 and USB 2.0 ports, you can connect
                                        USB-enabled devices, such as external storage drives, printers, or a 3G/4G
                                        dongle to your ASUS router and share them conveniently with other users via
                                        Wi-Fi. And with USB 3.0, you can enjoy up to 10X faster data transfer speeds.
                                    </div>
                                </div>
                            </div>
                            <div class="prod-5-txt">
                                <div class="sub-tit">Link Aggregation, More Devices Go Faster</div>
                                <div class="prod-5-cont-txt"> RT-AC88U features Link Aggregation, which combines two
                                    teaming LAN ports (the 1st and 2nd port) into one superfast wired connection for up
                                    to 2 Gbps using two Gigabit Ethernet cables<span class="small">5</span>. With Link
                                    Aggregation enabled on your NAS, clients can unlock unprecedented transfer speeds.
                                </div>
                                <div class="stage-5-img-3"><img alt=""
                                                                src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_5_img_3.png">
                                </div>
                                <div class="stage-5-img-4"><img alt=""
                                                                src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_5_img_4.png">
                                </div>
                                <div class="m-stage-5-img-5"><img alt=""
                                                                  src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/m_stage_5_img_3.png">
                                </div>
                                <div class="stage-5-note"> *Device speeds vary according to Wi-Fi specifications and
                                    environmental factors.
                                </div>
                            </div>
                        </div>
                        <div class="stage-6" id="stage6Map">
                            <div class="stage-tit">ASUSWRT –Easily Control Your Network</div>
                            <div class="stage-6-box"><img alt=""
                                                          src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/stage_6_img.png">
                                <div class="stage-6-txt">
                                    <div class="stage-6-cont-txt"> RT-AC88U features the enhanced, intuitive ASUSWRT
                                        user interface, which gives you easy access to both the 3-step web-based
                                        installation process and a wealth of robust advanced options.
                                    </div>
                                    <a class="btns btn-check-out" id="asuswrt" href="http://www.asus.com/ASUSWRT/"
                                       target="_blank"> Check out more exciting features </a></div>
                            </div>
                        </div>
                        <div class="stage-app">
                            <div class="app-group app-hide">
                                <div class="app-txt-group">
                                    <div class="app-txt">
                                        <div class="sub-tit">Control Your Network Anywhere</div>
                                        <div class="app-top"><img alt=""
                                                                  src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/icon_router_app.png">
                                            ASUS Router App
                                        </div>
                                        <p> In your increasingly mobile-enabled life, having control over your network
                                            via an app is more important than ever. The new ASUS Router App is built
                                            from the ground-up to be both intuitive and robust, allowing you to setup
                                            your router, manage network traffic, diagnose connection issues and even
                                            update firmware, all without needing to boot up a PC. </p><a
                                            class="btns btn-download" id="appBtn"
                                            href="http://www.asus.com/AU/Networking/RT-AC88U/###"> Download ASUS
                                        Router </a>
                                        <div class="app-download"><a
                                                href="https://itunes.apple.com/tw/app/asus-router/id1033794044"><img
                                                alt=""
                                                src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/btn_download_apple.png">
                                        </a>
                                            <a href="https://play.google.com/store/apps/details?id=com.asus.aihome&amp;hl=en"><img
                                                    alt=""
                                                    src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/btn_download_google.png">
                                            </a></div>
                                    </div>
                                </div>
                                <div class="app-phone"><img alt=""
                                                            src="http://www.asus.com/websites/global/products/e5rP2N02bDRfXJUO/V1/img/device_phone.png">
                                </div>
                                <div class="app-fn">
                                    <ul>
                                        <li>Easy Router Setup</li>
                                        <li>Real-Time Traffic Monitoring</li>
                                        <li>One-click Game Boost</li>
                                        <li>Effortless Guest Wi-Fi Sharing</li>
                                        <li>Clever Network Diagnosis</li>
                                        <li>Handy Firmware Update</li>
                                    </ul>
                                    <p><br></p>
                                    <ul class="product-spec">
                                        <li><span class="spec-item">Network Standard</span>
                                            <div class="spec-data">IEEE 802.11a, IEEE 802.11b, IEEE 802.11g, IEEE
                                                802.11n, IEEE 802.11ac, IPv4, IPv6
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Product Segment</span>
                                            <div class="spec-data">AC3100 ultimate AC performance : 1000+2167 Mbps</div>
                                        </li>
                                        <li><span class="spec-item">Coverage</span>
                                            <div class="spec-data">Very large homes</div>
                                        </li>
                                        <li><span class="spec-item">Data Rate</span>
                                            <div class="spec-data">802.11a : 6,9,12,18,24,36,48,54 Mbps<br>802.11b : 1,
                                                2, 5.5, 11 Mbps<br>802.11g : 6,9,12,18,24,36,48,54 Mbps<br>802.11n : up
                                                to 600 Mbps<br>802.11ac : up to 1734 Mbps<br>1024QAM (2.4GHz) : up to
                                                1000 Mbps<br>1024QAM (5GHz) : up to2167 Mbps
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Antenna</span>
                                            <div class="spec-data">External antenna x 4</div>
                                        </li>
                                        <li><span class="spec-item">Transmit/Receive</span>
                                            <div class="spec-data">MIMO technology<br>2.4 GHz 4 x 4<br>5 GHz 4 x 4</div>
                                        </li>
                                        <li><span class="spec-item">Processor</span>
                                            <div class="spec-data">1.4 GHz dual-core processor</div>
                                        </li>
                                        <li><span class="spec-item">Memory</span>
                                            <div class="spec-data">128 MB Flash<br>512 MB RAM</div>
                                        </li>
                                        <li><span class="spec-item">Wi-Fi Technology</span>
                                            <div class="spec-data">Beamforming: standard-based and universal<br>1024-QAM
                                                high data rate<br>20/40/80 MHz bandwidth
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Operating Frequency</span>
                                            <div class="spec-data">2.4 GHz / 5 GHz</div>
                                        </li>
                                        <li><span class="spec-item">Encryption</span>
                                            <div class="spec-data">64-bit WEP, 128-bit WEP, WPA2-PSK, WPA-PSK,
                                                WPA-Enterprise , WPA2-Enterprise , WPS support
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Firewall &amp; Access Control</span>
                                            <div class="spec-data">Access control：Parental control, Network service
                                                filter, URL filter, Port filter
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Management</span>
                                            <div class="spec-data">UPnP, IGMP v1/v2/v3, DNS Proxy, DHCP, SNMP, NTP
                                                Client, DDNS, Port Trigger, Virtual Server, DMZ, System Event Log
                                            </div>
                                        </li>
                                        <li><span class="spec-item">WAN Connection Type</span>
                                            <div class="spec-data">Internet connection type : Automatic IP, Static IP,
                                                PPPoE(MPPE supported), PPTP, L2TP
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Utilities</span>
                                            <div class="spec-data">Router setup wizard; Firmware restoration; Device
                                                discovary; printer setup utility<br></div>
                                        </li>
                                        <li><span class="spec-item">Ports</span>
                                            <div class="spec-data">RJ45 for Gigabits BaseT for WAN x 1, RJ45 for
                                                Gigabits BaseT for LAN x 8<br>USB 2.0 x 1<br>USB 3.0 x 1
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Button</span>
                                            <div class="spec-data">WPS Button, Reset Button, Power Button, Wireless
                                                on/off Button, LED on/off Button
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Features</span>
                                            <div class="spec-data"><strong>Link
                                                Aggregation</strong><br><strong>MU-MIMO</strong><br><strong>Traffic
                                                Analyzer</strong><br><strong>Adaptive QoS</strong><br><strong>AiProtection</strong><br><strong>Parental
                                                Control</strong><br><strong>Guest Network :</strong> 2.4 GHz x 3, 5 GHz
                                                x 3<br><strong>VPN server :</strong> IPSec Pass-Through, PPTP
                                                Pass-Through, L2TP Pass-Through, PPTP Server, OpenVPN Server<br><strong>VPN
                                                    client :</strong> PPTP client, L2TP client, OpenVPN
                                                client<br><strong>Mac OS Backup</strong><br><strong>Enhanced media
                                                    server (AiPlayer app compatible)</strong><br>- Image : Jpeg<br>-
                                                Audio : mp3, wma, wav, pcm, mp4, lpcm, ogg<br>- Video : asf, avi, divx,
                                                mpeg, mpg, ts, vob, wmv, mkv, mov <br><strong>AiCloud</strong> personal
                                                cloud service<br><strong>3G/4G</strong> data sharing<br><strong>Printer
                                                    Server</strong><br>- Multifunctional printer support (Windows
                                                only)<br>- LPR protocol support<br><strong>Download Master</strong><br>-
                                                Support bt, nzb, http, ed2k<br>- Support encryption, DHT, PEX and magnet
                                                link<br>- Upload and download bandwidth control<br>- Download scheduling<br><strong>AiDisk</strong>
                                                file server<br>- Samba and FTP server with account
                                                management<br><strong>Dual WAN</strong><br><strong>IPTV support</strong><br><strong>Roaming
                                                    Assist</strong></div>
                                        </li>
                                        <li><span class="spec-item">LED Indicator</span>
                                            <div class="spec-data">Power x 1<br>Wi-Fi x 2<br>WAN x 1<br>USB x 2<br>WPS x
                                                1<br>LAN x 1
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Power Supply</span>
                                            <div class="spec-data">AC Input : 110V~240V(50~60Hz)<br>DC Output : 19 V
                                                with max. 2.37 A current
                                            </div>
                                        </li>
                                        <li><span class="spec-item">Dimensions</span>
                                            <div class="spec-data">11.8 x 7.4 x 3.3 ~ inch (WxDxH)</div>
                                        </li>
                                        <li><span class="spec-item">Weight</span>
                                            <div class="spec-data"></div>
                                        </li>
                                        <li><span class="spec-item">Operation mode</span>
                                            <div class="spec-data">Wireless router mode<br>Access point mode<br>Media
                                                bridge mode
                                            </div>
                                        </li>
                                    </ul>
                                    <p><br></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></span></section>
</div>